### SQLAlchemy with PostgreSQL on Supabase

<img src="https://frenzy86.s3.eu-west-2.amazonaws.com/python/supabase.png" width="900">

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text

from dotenv import load_dotenv

load_dotenv()

password : str = os.getenv('PASSWORD')
db_id : str = os.getenv('DBID')

engine = create_engine("{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}".format(
                        dialect="postgresql",
                        driver="psycopg2",
                        username="postgres",
                        password=password,
                        host=f"db.{db_id}.supabase.co",
                        port=5432,
                        database="postgres"
                        ))

conn = engine.connect()
table = 'formart'

sql_query = f"SELECT * FROM {table}"

df = pd.read_sql_query(sql=text(sql_query), con=conn)
df

   id     nome cognome  eta
0   1  daniele  grotti   36

In [11]:
#drop last columns
df.drop(index=df.index[-1],axis=0,inplace=True)

In [2]:
newrow = {'id':2,'nome':'pinko','cognome':'pallo','eta':15}
df.loc[len(df)]=newrow
df

   id     nome cognome  eta
0   1  daniele  grotti   36
1   2    pinko   pallo   15

In [3]:
conn = engine.connect()
df.to_sql(table, conn, if_exists= 'replace',index=False) #if_exists= 'append'
print('Done!')

Done!